name: Test build

on: [ pull_request ]

env:
  MODULE_NAME: imops

jobs:
  build_wheels:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2019, macOS-14 ]

    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9' 
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.17.0
      - name: Install gcc for mac
        if: matrix.os == 'macOS-14'
        run: |
          brew install llvm libomp gcc
          echo $PATH
          ln -sf /usr/local/bin/gcc-11 /usr/local/bin/gcc
          ln -sf /usr/local/bin/g++-11 /usr/local/bin/g++
          ls /usr/local/bin/gcc*
          ls /usr/local/bin/g++*
          gcc --version
          g++ --version
      - name: Install g++-11 for ubuntu
        if: matrix.os == 'ubuntu-22.04'
        id: install_cc
        uses: rlalik/setup-cpp-compiler@master
        with:
          compiler: g++-11
      - name: Check compilers for ubuntu
        if: matrix.os == 'ubuntu-22.04'
        run: |
          ls /usr/bin/gcc*
          ls /usr/bin/g++*
          sudo ln -sf /usr/bin/gcc-11 /usr/bin/gcc
          sudo ln -sf /usr/bin/g++-11 /usr/bin/g++
          g++ --version
          gcc --version
      - name: Build wheels
        run: |
          python -m pip install --upgrade pip
          python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ENVIRONMENT_MACOS: >
            PATH="/opt/homebrew/opt/llvm/bin:$PATH" LDFLAGS="-L/opt/homebrew/opt/llvm/lib" CPPFLAGS="-I/opt/homebrew/opt/llvm/include"
          CIBW_BUILD: cp39-* cp312-*
          CIBW_SKIP: "*musllinux* *manylinux_x86_64"
          CIBW_BEFORE_BUILD_LINUX: 'if [ $(python -c "import sys; print(sys.version_info[1])") -ge 9 ]; then python -m pip install "numpy<3.0.0" --config-settings=setup-args="-Dallow-noblas=true"; fi'
