name: Test build

on: [ pull_request ]

env:
  MODULE_NAME: imops

jobs:
  build_wheels:
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macOS-11 ]

    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.10.0
      - name: Install gcc for mac
        if: matrix.os == 'macOS-11'
        run: |
          brew install llvm libomp
          echo $PATH
          ln -sf /usr/local/bin/gcc-12 /usr/local/bin/gcc
          ls /usr/local/bin/gcc*
          ls /usr/local/bin/g++*
          gcc --version
          g++ --version
      - name: Install g++-11 for ubuntu
        if: matrix.os == 'ubuntu-20.04'
        run: |
          which g++
      - name: Build wheels
        run: |
          python -m pip install --upgrade pip
          python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ENVIRONMENT_MACOS: >
            PATH="/usr/local/opt/llvm/bin:$PATH" LDFLAGS="-L/usr/local/opt/llvm/lib" CPPFLAGS="-I/usr/local/opt/llvm/include" CXX="/usr/local/bin/g++-11"
          CIBW_BUILD: cp39-* cp36-*
          CIBW_SKIP: "*musllinux* *manylinux_x86_64"
          CIBW_BEFORE_BUILD_LINUX: 'if [ $(python -c "import sys; print(sys.version_info[1])") -ge 9 ]; then python -m pip install "numpy<2.0.0" --config-settings=setup-args="-Dallow-noblas=true"; fi'
